snippet main mainFunction[custom]
	func main() {
		${1}
	}

snippet pf fmt.Printf[custom]
	fmt.Printf("${1}\n")

snippet sf fmt.Sprintf[custom]
	fmt.Sprintf(${1})

snippet pl fmt.Println[custom]
	fmt.Println(${1})

snippet ee ifErorrNotNil[custom]
	if err != nil {
		return err	
	}

snippet len0 lenGreaterThanZero[custom]
	len(${1}) > 0

snippet testF testFunction[custom]
  func Test${1}(t *testing.T) {
    ${2}
  }

snippet testM testMain[custom]
  func TestMain(m *testing.M) {
    ${2}
  }
