snippet cl console.log[custom]
	console.log(${1})

snippet cf arrowFunction[custom]
  const ${1} = (${2}) => {
    ${3}
  }

snippet epf exportFunction[custom]
	export const ${1} = (${2})${3} => {
		${4}
	}

snippet epv exportVariable[custom]
	export const ${1} = ${2}

snippet epi exportInterface[custom]
	export interface ${1} {
		${2}
	}

